body {
  transition:
    background 0.3s ease,
    color 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
}

#theme-toggle {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
}
